{# src/Liquid/Bundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}

{% block footer %}
    <footer>
        <p>&copy; Gesture Media 2012 - Faizal Pribadi </p>
      </footer>
{% endblock %}